@charset "UTF-8";

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
figure {
    width:100%;
    height:100vh;
    overflow:hidden;
    position:relative;
    background:linear-gradient(25deg, violet, pink)
}